body {
	background-color: #faefdd;
	display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
  }
small {
	font-size: 20px;
}
label {
	color: white;
	font-size: 18px;
}
.card {
	/* min-height: 570px; */
	margin-top: 30px;
}

.walmartDiv, .amazonDiv {
	display: inline-block;
	width: 90vw;
	margin-top: 30px;
} 

 .walmartCardDiv {
	position: relative;
	height: auto;
} 

.walmartCard {
	height: 500px;
}


#ingredientList {
	min-height: 200px;
}
select {
	display: visible;
}
small {
	font-size: 16px;
}
nav {
	background-color: #5c2932;
}
.mixingBowl {
	background-color: #424953;
}
.page-footer {
	text-align: center;
	background-color: #5c2932;
}
.recipeCard {
  	height: auto;
  	width: 400px;
}
.clickToMin {
	font-size: 12px;
}
.signIn {
	background-image: url(../images/spices.jpg);
}
.title {
	text-align: center;
	color: white;
	background-color: rgba(92,41,50, 0.8);
	margin-top: 10%;
}
#heading {
	margin-bottom: 0;
}
#subHeading {
	margin-top: 0;	
}
/* label color */
   .input-field label {
     color: #fff;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #fff;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #fff;
     box-shadow: 0 1px 0 0 #fff;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #fff;
     box-shadow: 0 1px 0 0 #fff;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #fff;
     box-shadow: 0 1px 0 0 #fff;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #fff;
   }
   .hidden {
   	display: none;
   }
