body {
	/*background-image: url("../images/food.jpg");*/
	background-color: #faefdd;
}
small {
	font-size: 20px;
}
label {
	color: white;
	font-size: 18px;
}
.card {
	height: 570px;
}
#ingredientList {
	height: 200px;
}
select {
	display: visible;
}
small {
	font-size: 16px;
}
nav {
	background-color: #5c2932;
}
.mixingBowl {
	background-color: #424953;
}

